@media only screen and (max-width: 960px) {
    .jumbotron {
        width: 100%;
    }
}



@media only screen and (max-width: 960px) {

    h2 {
        width: 100%;
    }
    .social-contact a .fa-facebook-square {
        font-size: 20px;
    }
    .social-contact a img {
        height: 10px;
    }

    .social-contact a .fa-mobile-alt {
        font-size: 12px;
    }



    nav {
        height: auto;
        flex-direction: column;
    }

    nav ul {
        border-top: 1px solid #334354;
        height: auto;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    nav div.logo {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }
    .hamburger-menu {
        display: inline;
    }

    nav img {
        width: 50%;
        margin: 0px;
    }


    .garage-content .row {
        height: auto;
    }

    /*footer*/
    footer {
        height: auto;
    }
    footer .col-lg-6 {
        height: auto;
        justify-content: space-around;
    }



}

/*768px*/

@media screen and (max-width: 768px) {

    .jumbotron-header {
        top: 50%;
        width: 100%;
        margin-left: 0px;
    }
    .jumbotron-header h1 {
        font-size: 30px;
    }

    .jumbotron-header p {
        font-size: 14px;
    }
    .jumbotron-header .btn-primary {
        margin-top: 10px;
        font-size: 15px;
        height: 35px;
        line-height: 35px;
    }
    .modal-new .row {
        margin-top: 10px;
    }
    .modal-new select {

        color: #000;

        height: 30px;

    }
    .kojec-content .row{
        height: auto;
    }
}



/*540px max*/

@media only screen and (max-width: 540px) {
    .products .uk-card-default {
        flex-direction: column;
    }
}
